ion-content {
  /* --background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
}

.content {
  max-width: 1075px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  flex-grow: 4;
}

ion-thumbnail {
  --size: 10rem;
  --border-radius: 25px;
  min-width: 3rem;
}

.about {
  display: flex;
  flex-direction: row;
}

.background-image {
  --background: url(./assets/images/IMG_0611.jpeg) 0 0/100% 100% no-repeat;
}

.card-content-md p {
  padding: 0.5rem 0;
  font-weight: 500;
}

.card-container {
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.large-image {
  height: 120%;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.skill {
  font-size: 2rem;
}

#my-resume ion-card {
  margin-bottom: 2rem;
}