.content {
  max-width: 1075px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.hamburger {
  display: none;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  font-size: .7rem;
}

.main {
  flex-grow: 4;
}

#social-buttons {
  max-width: 70px;
  margin-top: 4rem;
}

ion-thumbnail {
  --size: 15rem;
  --border-radius: 25px;
}